@media(max-width:540px){
      		#mobilecard{
			display: flex;
			flex-direction: column;
			justify-content:evenly;
			padding:10px;
			}
        	.card{
 			min-width:100%;
			margin:5px 5px;
       		}

	}

@media(max-width:540px){
		#mob-flex{
			display: flex;
			flex-direction: column;
			width:auto;

			}
		
		#lname{
			margin-top:9px;
			}	
	}
@media(max-width:540px;){
	  .hide{
		display:block;
	  }
}		
	 	

	

	
	
		
		
   </style>
